{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'task-home' %}" class="text-dark">
                        <h4 class="card-title">DOCLIST</h4>
                        </a>
                        <p class="card-text">To do list. CRUD task...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'search_view' %}" class="text-dark">
                            <h4 class="card-title">SIM</h4>
                        </a>
                        <p class="card-text"> Database Dynamic search</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}